body,li,ul,ol{margin:0;padding:0;}
li{display:inline;list-style:none outside none;}

.l{float:left;}
.c{clear:both;}
.hidden{display:none;}
.clearfix {display:block;}

.frame{width:640px;height:480px;background-color:#fcc;}
.layout-up{height:40px;width:100%;background-color:#34B65F;}
.layout-down{height:70px;width:100%;background-color:#34B65F;}

.layout-mid{width:100%;height:370px;background-color:#ccaf3e;}
.layout-main{margin-left:-60px;background-color:#667788;float:right;}

.layout-left{width:60px;background-color:#933333;float:left;}
.layout-right{width:60px;background-color:#933333;float:left;}
.layout-content{width:260px;height:370px;background-color:#66ee44;float:left;}
.layout-content-right{width:260px;height:370px;background-color:#112244;float:left;}

.catImg{width:60px;}
.catImg-big{width:80px;margin:0 10px;}
.cat{margin:5px 10px;float:left;}
.itemImg{width:44px;margin:3px;}
.items{margin:15px 5px;}

/**
640px*480px frame
80px*80px cat
margin 10px

height:40px + (80px*4) + (10px*5) + 70px = 480px
width :270px + 80px + 10px*2 + 270px = 640px

**/



