body,li,ul,ol{margin:0;padding:0;}
li{display:inline;list-style:none outside none;}

.l{float:left;}
.c{clear:both;}
.hidden{display:none;}
.clearfix {display:block;}

.frame{width:640px;height:480px;background-color:#fcc;}
.layout-up{height:40px;width:100%;background-color:#34B65F;}
.layout-down{height:70px;width:100%;background-color:#34B65F;}

.layout-mid{width:100%;height:370px;background-color:#ccaf3e;}
.layout-main{margin-left:-50px;background-color:#667788;float:right;}

.layout-left{width:200px;background-color:#933333;float:left;}
.layout-right{width:200px;background-color:#933333;float:left;}
.layout-content{width:240px;height:370px;background-color:#66ee44;float:left;}

.catImg{width:60px;}
.cat{margin:10px;float:left;}
.itemImg{width:20px;}

/**
640px*480px frame
80px*80px cat
margin 10px

height:40px + (80px*4) + (10px*5) + 70px = 480px
width :270px + 80px + 10px*2 + 270px = 640px

**/



